/* Universal */
html {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

/* Header */
ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

ul .logo {
    font-size: 24px;
    font-weight: 600;
    color: #F9FAF8;
}

.right-links {
    display: flex;
    justify-content: flex-end;
    gap: 2em;
}

header {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 0 20%;
    padding-bottom: 6em;
    background-color: #1F2937;
    color: #F9FAF8;
    margin-bottom: 1em;
}

.hero {
    display: flex;
    justify-content: space-between;
}

.hero-text {
    display: flex;
    flex-direction: column;
}

.hero-text h2 {
    font-size: 18px;
    color: #E5E7EB;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
}

.hero img {
    background-color: #3882F6;
    width: 500px;
    height: 150px;
}

/* Main */
main {
    text-align: center;
}

.squares {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    margin: 50px 0;
    padding: 2em 20%;
}

.square {
    border: 5px solid #3882F6;
    border-radius: 10px;
    height: 200px;
    width: 200px;
    background-color: #1F2937;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em 0;
    margin: 5em 0;
}

.quote h3,
.quote p {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    padding: 0 20%;
}

.quote p {
    font-size: 30px;
    text-align: end;
}

.sign-up {
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    margin: 5em 20%;
    color: #F9FAF8;
    text-align: left;
    padding: 1em;
}

button {
    color: white;
    border: 3px solid white;
    border-radius: 7px;
    height: fit-content;
    padding: 15px 25px;
    background-color: transparent;
}

/* Footer */
footer {
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
}
